.copyright {
  float: left;
  color: #9b9b9b;
  font-size: 16px;
  line-height: 80px;
  margin: 0;
  padding: 17px;
}

.social li {
  display: inline-block;
}

.social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.social-fr {
  background-image: url(../images/flickr.png);
}
.social-vimeo {
  background-image: url(../images/vimeo.png);
}
.social-pinterest {
  background-image: url(../images/pinterest.png);
}
.social-twitter {
  background-image: url(../images/twitter.png);
}

.footer-right {
  float: left;
}

.social {
  display: inline-block;
  margin: 30px 0 0 270px;
}

.footer-logo {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #9b9b9b;
  line-height: 110px;
  vertical-align: top;
  margin-left: 50px;
}
.footer-logo a {
  color: #9b9b9b;
  text-decoration: none;
  line-height: 42px;
  display: inline-block;
}
.footer-logo span {
  font-weight: 700;
  color: #9b9b9b;
}