@mixin menu {
  float: left;
  line-height: 40px;
}
.main-hero {
  background-color: $color-black;
  height: 40px;
  width: 100%;
}

.page-logo {
  font-size: 14px;
  text-decoration: none;
  color: $color-white;
  padding-left: 5px;
  @include menu;
}

.colour-font {
  color: $color-main;
  font-weight: bold;
}

ul.page-nav-list {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  li {
    float: left;
    @include menu;
    padding-right: 5px;
    a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: $color-white;
      padding-left: 55px;
    }
  }
}

