@import "_variables.scss";

@import "_grid.scss";
@import "_header.scss";
@import "_layout.scss";
@import "_section-price.scss";
@import "_slider.scss";
@import "_products.scss";

//---------------------
//secia
//---------------------
@mixin box-input {
  border: 1px solid $color-main;
  font-size: 25px;
  width: 100%;
  padding: 0 15px;
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  color: #444;
  margin: 0% 0 30px 10px;
}

.contact-title {
  margin: 0;
  padding: 25px 0 45px 10px;
  font-size: 20px;
  position: relative;
  &:after {
    content: "";
    background-color: $color-main;
    display: inline-block;
    height: 5px;
    width: 330px;
    position: absolute;
    top: 51px;
    left: 10px;
  }
}

.box-contact {
  width: 632px;
  height: 100px;
}

.box-contact-name input[type="text"] {
  @include box-input;
  height: 65px;

}

.box-contact-email input[type="email"] {
  height: 65px;
  @include box-input;
}

.box-contact-texarea textarea{
  @include box-input;
  height: 190px;
  resize: none;
  margin-left: 10px;
}



