@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1040px;
    margin: 0 auto;
    color: black;
}

.colour-font {
    color: #24ba9f;
}

.bold {
    font-weight: 700;
}

header {
    background-color: #000;
    height: 40px;

}

.logo a {
    color: #fff;
    font-size: 10px;
    float: left;
    line-height: 40px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    padding-left: 50px;
    line-height: 40px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
}

.section1 {
    background-color: black;
    height: 500px;
    background-color: #24ba9f;
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}