@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1040px;
    margin: 0 auto;
    color: black;
}

.colour-font {
    color: #24ba9f;
}

.bold {
    font-weight: 700;
}

header {
    background-color: #000;
    height: 40px;

}

.logo a {
    color: #fff;
    font-size: 10px;
    float: left;
    line-height: 40px;
    padding-left: 70px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    padding-left: 50px;
    line-height: 40px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
}

.slider {
    background-color: black;
    width: 100%;
    height: 500px;
    background-color: #24ba9f;
    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.column-one, .column-three {
    width: 110px;
    height: 500px;
    float: left;
}

.column-two {
    width: 980px;
    height: 500px;
    float: left;
}

/*.column-three {*/
    /*width: 110px;*/
    /*height: 530px;*/
    /*float: left;*/
/*}*/

.black-chair {
    width: 450px;
    padding: 110px 0 0 0;
    float: left;
}

.text-slider {
    width: 530px;
    height: 500px;
    float: left;
}

.left, .right {
    width: 110px;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
}

.left {
    padding: 240px 0 0 75px;
}

.right {
    padding: 240px 0 0 20px;

}

p:first-child {
    padding: 145px 0 50px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

p:nth-child(2) {
    padding-bottom: 40px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    font-weight: 400;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #24ba9f;
    line-height: 55px;
    height: 55px;
    width: 240px;
    text-align: center;
    display: block;
    margin-left: 140px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 17px;
}


